.advantages {
  margin: 0;
}

.advantages__wrapper {
  margin: 0;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  margin: 0;
}
