.advantages {
  width: 280px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages__wrapper {
  margin: 0;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  color: #000000;
  margin: 0;
  margin-top: 20px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.advantages__item {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin: 0;
}

.advantages__item--benefits::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.advantages__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-solution");
  background-size: 30px 32px;
}

.advantages__item--tableware::before {
  background-image: url("../../icons/stack.svg#icon-tableware");
  background-size: 30px 32px;
}

.advantages__item--clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
  background-size: 30px 32px;
}

.advantages__item::before {
  display: block;
  content: "";
  background-color: #68b738;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
