.aside {
  margin: 0;
}

.aside__container {
  width: 320px;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0;
    margin-top: 74px;
    padding: 0 30px;
  }
}

.aside__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 0;
    padding-left: 40px;
    border-bottom: none;
  }
}

.aside__list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding: 26px 0;
  }
}

.aside__item {
  margin: 0;
  font-size: 0;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border: 1px solid #cdcdcd;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.aside__item-title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    width: 50%;
  }
}

.aside__volume {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    text-align: end;
  }
}

.aside__price {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: end;
  width: 50%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 10%;
    text-align: end;
  }
}

.aside__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
}

.aside__item-gift {
  display: block;
  background-color: #68b738;
  width: 280px;
  margin: 0 auto;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 70px;
  }
}

.aside__slogan-gift::before {
  display: block;
  content: "";
  background-image: url("../../icons/stack.svg#catalog_icon-gift");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  margin: 47px auto 48px;
  border-bottom: none;
}

.aside__slogan-gift {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  width: 162px;
  text-align: center;
  margin: 0 auto;
}

.aside__link-gift {
  margin: 0;
  padding-bottom: 26px;
}
