.aside {
  margin: 0;
}

.aside__container {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0;
    margin-top: 74px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0;
    margin-top: 72px;
    padding: 0 110px;
  }
}

.aside__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 84px;
    padding-left: 40px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.aside__title::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #68b738;
  top: 8px;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 358px;
    top: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 915px;
    top: 16px;
  }
}


.aside__title::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
    top: 16px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.aside__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
  }
}

.aside__list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.aside__item {
  margin: 0;
  font-size: 0;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 25px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 896px;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.aside__item:nth-last-child(1) {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.aside__item-title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.aside__item-size {
  @media (min-width: $tablet-width) {
    display: inline;
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin-top: 5px;
  }
}

.aside__volume {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    text-align: end;
    margin: 0;
    padding-right: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 56%;
    text-align: start;
  }
}

.aside__price {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: end;
  width: 50%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 10%;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 42px;
    text-align: start;
  }
}

.aside__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    margin-left: 40px;
  }
}

.aside__item-gift {
  display: block;
  font-size: 0;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/catalog/background-gift-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 280px 290px;
  width: 280px;
  margin: 0 auto;
  margin-top: 34px;
  padding-bottom: 18px;

  &:hover {
    opacity: 1;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/catalog/background-gift-tablet@1x.png");
    background-size: 707px 200px;
    width: 100%;
    min-height: 200px;
    margin: 0;
    margin-top: 70px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/catalog/background-gift-desktop@1x.png");
    background-size: 245px 288px;
    width: 245px;
    margin-top: 0;
  }
}

.aside__slogan-gift::before {
  display: block;
  content: "";
  background-image: url("../../icons/stack.svg#catalog_icon-gift");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  margin: 47px auto 48px;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.aside__slogan-gift {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
  width: 162px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.aside__slogan {
  @media (min-width: $tablet-width) {
    text-align: start;
    width: 200px;
    padding: 0 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }
}

.aside__link-gift {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
  padding-bottom: 26px;

  &:hover {
    opacity: 1;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-right: 86px;
    padding-top: 60px;
    margin-left: 78px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
    margin: 0 auto;
    margin-top: 56px;
    padding: 0;
  }
}
