.aside {
  margin: 0;
}

.aside__container {
  margin: 0;
}

.aside__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.aside__list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  list-style-type: none;
}

.aside__item {
  margin: 0;
}

.aside__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.aside__price {
  margin: 0;
}

.aside__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  margin: 0 auto;
}

.aside__item-gift {
  display: block;
  background-color: #68b738;
  width: 280px;
  margin: 0 auto;
}

.aside__slogan-gift::before {
  display: block;
  content: "";
  background-image: url("../../icons/stack.svg#catalog_icon-gift");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.aside__slogan-gift {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  width: 162px;
  text-align: center;
  margin: 0 auto;
}
