.catalog {
  margin: 0;
}

.catalog__container {
  margin: 0;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__list {
  margin: 0;
}

.catalog__item {

  display: block;
  list-style-type: none;
  width: 280px;
  text-align: center;
}

.catalog__item-more::before {
  display: block;
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#icon-plus");
  mask-repeat: no-repeat;
  mask-size: 30px 30px;
  mask-position: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.catalog__item-link {
  margin: 0;
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog__item-compound {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__list-description {
  list-style-type: none;
}

.catalog__item-description {
  margin: 0;
}

.catalog__list-compound {
  list-style-type: none;
}

.catalog__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
}

.catalog__slogan {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__link-button {
  background-color: #f2f2f2;
  color: #444444;
}
