.contacts {
  margin: 0;
}

.contacts__container-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 60px 70px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    width: 565px;
    margin: 0;
    padding: 60px 76px 60px 79px;
    position: absolute;
    transform: translate(21%, 59%);
    top: -22;
    left: -8px;
  }
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 60px 70px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
    transform: translate(21%, 47%);
    width: 565px;
    margin: 0;
    padding: 60px 78px 60px 80px;
    top: 1px;
    left: -8px;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  list-style-type: none;
  color: #111111;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
    padding: 0;
  }
}

.contacts__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: end;
    padding: 0;

    .contacts__text-city {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__geoposition {
  margin: 0;
  padding: 0;
}
