.example {
  margin: 0;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.example__slogan {
  font-family: "Lato", sans-serif;
}

.example__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.example__item-title-price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.example__item-slogan {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}

.example__slider {
  position: relative;
  margin: 0;
}

.example__slider-button {
  position: absolute;
  display: block;
  cursor: pointer;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 50%;
}

.example__slider-button::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__slider-button::after {
  position: absolute;
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#icon-slider-arrow");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
