.example {
  margin: 0;
  padding: 0 20px;
  padding-top: 25px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 100px;
    padding-top: 45px;
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 462px, transparent 462px, transparent 100%);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 560px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 462px;
    padding: 0 110px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    width: 432px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  color: #000000;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 76px;
  }
}

.example__slogan {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 69px;
  }
}

.example__item-promotion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__item-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 280px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}


@media (min-width: $tablet-width) {
  .example__item {
    justify-content: start;
    width: auto;
    margin-right: 43px;
  }
}

.example__item-title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  width: 124px;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    padding: 15px 28px 18px;
  }
}

.example__item-slogan {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 86px;
  background-color: #eaeaea;
  color: #000000;
  padding: 0 4px;
  margin: 0;
  margin-top: -10px;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: max-content;
    padding: 0 8px;
    margin: -8px auto 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}


.example__item-slogan-price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 180px;
    text-align: end;
    align-self: start;
    margin: 0;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    width: 432px;
    text-align: start;
    margin: 0;
    margin-top: 55px;
    margin-bottom: 75px;
  }
}

@media (min-width: $tablet-width) {
  .example__item-price {
    display: block;
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .example__item-price {
    display: inline;
    margin: 0;
    margin-left: 63px;
  }
}

.example__slider {
  position: relative;
  min-width: 280px;
  min-height: 256px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    min-width: 560px;
    min-height: 512px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    height: 512px;
    margin: 0;
    padding: 0;
  }
}

.example__slider-img {
  position: absolute;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
    transform: translate(13%, 0);
  }

  @media (min-width: $desktop-width) {
    transform: translate(0);
  }
}

.example__slider-button {
  position: absolute;
  display: block;
  cursor: pointer;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 50%;
}

.example__slider-button::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__slider-button::after {
  position: absolute;
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#icon-slider-arrow");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
