.main-footer {
  margin: 0;
}

.main-footer__wrapper {
  margin: 0;
}

.main-footer__contacts {
  margin: 0;
}

.main-footer__social-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 768px;
    background-color: #eaeaea;
    align-items: center;
    padding: 56px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 66px 110px;
  }
}


.main-footer__social {
  display: block;
  background-color: #eaeaea;
  margin: 0;
  padding: 0 20px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 420px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 676px;
  }
}


.main-footer__copyright {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #eaeaea;
  width: auto;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.main-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #444444;

  @media (min-width: $tablet-width) {
    justify-content: right;
  }
}

.main-footer__copyright-link::after {
  position: relative;
  display: block;
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#icon-logo-html-academy");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  width: 27px;
  height: 34px;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}
