.main-nav {
  background-color: #ffffff;
  color: #000000;
}

.main-nav__toggle {
  margin: 0;
}

.main-nav__wrapper {
  margin: 0;
}

.main-nav__list {
  margin: 0;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

.main-nav__link a {
  text-decoration: none;
}

.main-nav__link--current {
  margin: 0;
}
