.services {
  font-family: "Lato", sans-serif;
  padding: 0 20px;
}

.services__item {
  width: auto;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
}

.services__title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 29px;
  gap: 20px;
}

.services__title-slim::before {
  display: block;
  content: "";
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
}

.services__title-slim::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#icon-cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  top: -3px;
  left: 7px;
  margin: 0;
}

.services__title-pro::before {
  display: block;
  content: "";
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
}

.services__title-pro::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  left: -9px;
  margin: 0;
}

.services__slogan {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  width: 240px;
  margin-left: 20px;
  padding-bottom: 23px;
}

.services__item-button {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: none;
  margin: 0;
  margin-left: 20px;
  padding: 4px;
}

.services__item-button::after {
  display: block;
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  background-color: #000000;
  mask-size: 24px 12px;
  mask-position: 100%;
  mask-repeat: no-repeat;
  width: 24px;
  height: 12px;
  margin-left: 15px;
  margin-top: 2px;
}
